<template>
  <MainNavbar />
  <div v-if="isLoading">Loading ...</div>
  <div v-else-if="error">
    {{ error.message }} <button @click="tryAgain">try again</button>
  </div>
  <div v-else>
    <b-container>
      <p/>
      <CurrencyInfo
          :currency="currency"
          :isAuthorized="isAuthorized"
          :subscribed="subscribed"
      />
      <p/>
      <h2>Prices {{ isAuthorized }}</h2>
      <p/>
      <MainPricesTable :items="prices"/>
    </b-container>
  </div>
</template>

<script>
import MainNavbar from "@/components/MainNavbar.vue";
import { ref } from "vue";
import {getCurrency, getPrices, userSubscribedToCurr } from "../services/crypto";
import { mapGetters } from "pinia/dist/pinia";
import { useAuthStore } from "../stores/auth";
import ExchangeInfo from "@/components/ExchangeInfo.vue";
import MainPricesTable from "@/components/MainPricesTable.vue";
import CurrencyInfo from "@/components/CurrencyInfo.vue";
export default {
  name: "Currency",
  components: {CurrencyInfo, MainNavbar, ExchangeInfo, MainPricesTable },
  computed: {
    ...mapGetters(useAuthStore, ["isAuthorized"]),
    id() {
      return this.$route.params.id;
    },
  },
  data() {
    const isLoading = ref(true);
    const error = ref(null);
    const prices = ref([]);
    const currency = ref(null);
    const subscribed = ref(false);
    const loadCurr = async () => {
      isLoading.value = true;
      try {
        currency.value = await getCurrency(this.id);
        isLoading.value = false;
      } catch (e) {
        error.value = e;
      }
    };
    const loadPrices = async () => {
      isLoading.value = true;
      try {
        console.log(currency.value.name);
        prices.value = await getPrices(currency.value.name, "all");
        isLoading.value = false;
      } catch (e) {
        error.value = e;
      }
    };
    const loadSubsInfo = async () => {
      isLoading.value = true;
      try {
        subscribed.value = await userSubscribedToCurr(this.id);
        isLoading.value = false;
      } catch (e) {
        error.value = e;
      }
    };
    const tryAgain = async () => {
      await loadCurr();
      await loadPrices();
    };

    return {
      isLoading,
      error,
      prices,
      currency,
      subscribed,
      loadPrices,
      loadCurr,
      tryAgain,
      loadSubsInfo,
    };
  },
  async mounted() {
    await this.loadCurr();
    await this.loadPrices();
    if (this.isAuthorized) {
      await this.loadSubsInfo();
    }
  },
};
</script>

<style scoped></style>
