<template>
  <MainNavbar />
  <div v-if="isLoading">Loading ...</div>
  <div v-else-if="error">
    {{ error.message }} <button @click="tryAgain">try again</button>
  </div>
  <div v-else>
    <b-container>
      <p/>
      <ExchangeInfo
        :exchange="exchange"
        :isAuthorized="isAuthorized"
        :subscribed="subscribed"
      />
      <p/>
      <h2>Prices</h2>
      <p/>
      <MainPricesTable :items="prices"/>
    </b-container>
  </div>
</template>

<script>
import MainNavbar from "@/components/MainNavbar.vue";
import { ref } from "vue";
import { getExchange, getPrices, userSubscribedToEx } from "../services/crypto";
import { mapGetters } from "pinia/dist/pinia";
import { useAuthStore } from "../stores/auth";
import ExchangeInfo from "@/components/ExchangeInfo.vue";
import MainPricesTable from "@/components/MainPricesTable.vue";
export default {
  name: "Exchange",
  components: { MainNavbar, ExchangeInfo, MainPricesTable },
  computed: {
    ...mapGetters(useAuthStore, ["isAuthorized"]),
    id() {
      return this.$route.params.id;
    },
  },
  data() {
    const isLoading = ref(true);
    const error = ref(null);
    const prices = ref([]);
    const exchange = ref(null);
    const subscribed = ref(false);
    const loadEx = async () => {
      isLoading.value = true;
      try {
        exchange.value = await getExchange(this.id);
        isLoading.value = false;
      } catch (e) {
        error.value = e;
      }
    };
    const loadPrices = async () => {
      isLoading.value = true;
      try {
        console.log(exchange.value.name);
        prices.value = await getPrices("all", exchange.value.name);
        isLoading.value = false;
      } catch (e) {
        error.value = e;
      }
    };
    const loadSubsInfo = async () => {
      isLoading.value = true;
      try {
        subscribed.value = await userSubscribedToEx(this.id);
        isLoading.value = false;
      } catch (e) {
        error.value = e;
      }
    };
    const tryAgain = async () => {
      await this.loadEx();
      await this.loadPrices();
    };

    return {
      isLoading,
      error,
      prices,
      exchange,
      subscribed,
      loadPrices,
      loadEx,
      tryAgain,
      loadSubsInfo,
    };
  },
  async mounted() {
    await this.loadEx();
    await this.loadPrices();
    if (this.isAuthorized) {
      await this.loadSubsInfo();
    }
  },
};
</script>

<style scoped></style>
