<template>
  <b-card
      :img-src="currencyImageSrc"
      img-alt="Card image"
      img-left
      img-height="280"
      img-width="280"
      class="bg-dark text-light font-monospace"
  >
    <b-card-text>
      <h2>
        Name: <b>{{ currency.name }}</b>
      </h2>
    </b-card-text>
    <b-card-text>
      <h2>
        Taker fee: <b>{{ currency.code_name }}</b>
      </h2>
    </b-card-text>
    <div v-if="isAuthorized">
      <b-button v-if="!subscribed" @click="currencySubscribe" variant="info"
      >Subscribe</b-button
      >
      <b-alert v-else>You are subscribed</b-alert>
    </div>
  </b-card>
</template>

<script>
import { getURLForImage } from "../services/utils";
import { mapGetters } from "pinia/dist/pinia";
import { useAuthStore } from "../stores/auth";
import { subscribeToCurr } from "../services/crypto";

export default {
  name: "CurrencyInfo",
  props: {
    currency: {
      type: Object,
      required: true,
    },
    isAuthorized: {
      type: Boolean,
      required: true,
    },
    subscribed: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    ...mapGetters(useAuthStore, ["currentUser"]),
    currencyImageSrc() {
      return getURLForImage(this.currency.logo);
    },
  },
  methods: {
    async currencySubscribe(event) {
      event.preventDefault();
      console.log("типа ексщенж", this.currency.id);
      await subscribeToCurr(this.currentUser.id, this.currency.id);
      location.reload();
    },
  },
};
</script>

<style scoped></style>
