<template>
  <b-card
    :img-src="exchangeImageSrc"
    img-alt="Card image"
    img-left
    img-height="380"
    img-width="380"
    class="bg-dark text-light font-monospace"
  >
    <b-card-text>
      <h2>
        Name: <b>{{ exchange.name }}</b>
      </h2>
    </b-card-text>
    <b-card-text>
      <b-link :href="exchange.url">
        <h3>Link</h3>
      </b-link>
    </b-card-text>
    <b-card-text>
      <h3>
        Maker fee: <b>{{ exchange.maker_fee }}</b>
      </h3>
    </b-card-text>
    <b-card-text>
      <h3>
        Taker fee: <b>{{ exchange.taker_fee }}</b>
      </h3>
    </b-card-text>
    <b-card-text>
      <b-link :href="exchange.fee_url">
        <h3>Fee Info</h3>
      </b-link>
    </b-card-text>
    <div v-if="isAuthorized">
      <b-button v-if="!subscribed" @click="exchangeSubscribe" variant="info"
        >Subscribe</b-button
      >
      <b-alert v-if="subscribed">You are subscribed</b-alert>
    </div>
  </b-card>
</template>

<script>
import { getURLForImage } from "../services/utils";
import { mapGetters } from "pinia/dist/pinia";
import { useAuthStore } from "../stores/auth";
import { subscribeToEx } from "../services/crypto";

export default {
  name: "ExchangeInfo",
  props: {
    exchange: {
      type: Object,
      required: true,
    },
    isAuthorized: {
      type: Boolean,
      required: true,
    },
    subscribed: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    ...mapGetters(useAuthStore, ["currentUser"]),
    exchangeImageSrc() {
      return getURLForImage(this.exchange.logo);
    },
  },
  methods: {
    async exchangeSubscribe(event) {
      event.preventDefault();
      console.log("типа ексщенж", this.exchange.id);
      await subscribeToEx(this.currentUser.id, this.exchange.id);
      location.reload();
    },
  },
};
</script>

<style scoped></style>
